name: Build and deploy
'on':
  workflow_dispatch: null
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout self

      - name: NPM Install and Build
        run: |
          cd my-app
          npm i
          npm run build

      - name: ZIP the WEB Artifact
        run: |
          cd my-app/build
          zip -r "${{ github.sha }}-WEB.zip" .

      - name: "Directory Listing"
        run: |
          cd my-app
          ls . -l

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: build
          path: ./my-app/${{ github.sha }}-WEB.zip